# cache de Godot
.godot/
/android/

# copias del proyecto que quedaron de descomprimir zips
HLM/
Scenes/DeathPixelHLM-main/
Scenes/DeathPixel_ACTUALIZADO/
DeathPixel_ACTUALIZADO/

# exportaciones
build/
export/
*.exe
*.pck
*.zip

# sistema
.DS_Store
Thumbs.db
desktop.ini
